body {
  background-color: sienna;
}

.kolecko {
  width: 3rem;
  height: 3rem;
  border: 3px solid red;
  border-radius: 50%;
  margin: 5rem auto;
}

.kontejner {
  margin: 5rem auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: sandybrown;
  text-align: center;
}
